%p Hey #{ @user.first_name },

%p Thanks for signing up! I know you're going to love Travel Canny. You won't be able to believe you traveled any other way.

%p We're sending you a welcome package in the mail that includes our SIM card and a few extra goodies just for you ;). The SIM will be ready to be used as soon as you get it, no set up needed. You can either pop it into your phone as soon as you get it to test it out or you can do so as soon as you land in your destination.

%p Our app can help you keep track of your usage, purchase more data, and has lots of great destination information as well.

%p Please don't hestitate to reach out if you run into any problems. We're here to help make sure your travel experience is the best ever.

%p Have a great trip!

%p
  Alex
  %br
  Travel Canny | Connecting the World