.p-3.text-center.list-inline.d-flex.justify-content-center.align-items-center
  .list-inline-item.pl-2.pr-2
    = link_to "https://twitter.com/", target: '_blank', class: 'text-muted' do
      %i.fab.fa-twitter.fa-lg
  .list-inline-item.pl-2.pr-2
    = link_to "https://www.facebook.com/", target: '_blank', class: 'text-muted' do
      %i.fab.fa-facebook-f.fa-lg       
  .list-inline-item.pl-2.pr-2
    = link_to "https://www.instagram.com/", target: '_blank', class: 'text-muted' do
      %i.fab.fa-instagram.fa-lg
  .list-inline-item.pl-2.pr-2
    = mail_to "hi@example.com", target: '_blank', class: 'text-muted' do
      %i.fas.fa-envelope.fa-lg                  
