.masthead.mb-auto
  %nav.navbar.navbar-expand.navbar-light
    .container.justify-content-between
      .navbar-brand
      .navbar-nav.ml-auto
        - if current_user
          .nav-item.dropdown
            = link_to "#", class: 'nav-link dropdown-toggle', data: {toggle: 'dropdown'} do
              Hi #{current_user.first_name}
            .dropdown-menu.dropdown-menu-right
              - if current_user.admin?
                = link_to "Admin Dashboard", admin_admin_root_path, class: "dropdown-item", target: '_blank'
              = link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
        - else
          -# = link_to "Login", new_user_session_path, class: 'nav-item nav-link'