// Import Frameworks
@import 'bootstrap';
// Utilities
@import 'util/_colors';
@import 'util/_mixins';
@import 'util/_typography';
@import 'util/_navigation';
// Components
@import 'components/_forms';
@import 'components/_payment';

html, body {
  height: 100%;
}

.auth {
  .main {
    h1 a:hover {
      text-decoration: none;
    }
  }
}

.authform {
  max-width: 550px;
}